.app{
  background: $background-color;
  color: #333;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  .home__button{
    width: fit-content;
    margin-top: 2vh;
  }

}


.mapComponent{
  height: 100vh;
  width: 100vw;
}